<h1>You fell in love with: <%= thing.charAt(0).toUpperCase()+thing.substr(1); %> </h1>

<% if(thing.toLowerCase() === 'rusty'){ %>

<p>Good Choice, Rusty is the Best</p>

<% } else { %>

<p>Bad choice, should have said Rusty</p>

<% } %>


<p>P.S. this is the love.ejs file!</p>